<aside id="aside" class="app-aside hidden-xs bg-dark">
    <div class="aside-wrap">
        <div class="navi-wrap">

            <!-- nav -->
            <%= render "app/partials/navigation" %>
            <!-- nav -->

        </div>
    </div>
</aside>
