<nav ui-nav class="navi clearfix">
  <ul class="nav">

    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
      <span>Navigation</span>
    </li>
    <li>
      <%= link_to("<i class='glyphicon glyphicon-th-large'></i><span>Dashboard</span>".html_safe, app_root_path, {"data-toggle" => 'tooltip', "title" => 'Dashboard', "data-placement" => 'right', "data-container" => "body", class: "dashboard_sidebar_tooltip"}) %>
    </li>
    <li>
      <%= link_to("<i class='glyphicon glyphicon-th-large'></i><span>Quiz</span>".html_safe, new_app_answer_path, {"data-toggle" => 'tooltip', "title" => 'Quiz', "data-placement" => 'right', "data-container" => "body", class: "dashboard_sidebar_tooltip"}) %>
    </li>
    <li>
      <%= link_to("<i class='glyphicon glyphicon-th-large'></i><span>Colleges</span>".html_safe, app_colleges_path, {"data-toggle" => 'tooltip', "title" => 'Colleges', "data-placement" => 'right', "data-container" => "body", class: "dashboard_sidebar_tooltip"}) %>
    </li>
    <li>
      <%= link_to("<i class='glyphicon glyphicon-th-large'></i><span>Advanced Suggestions</span>".html_safe, app_suggestions_path, {"data-toggle" => 'tooltip', "title" => 'Advanced Suggestions', "data-placement" => 'right', "data-container" => "body", class: "dashboard_sidebar_tooltip"}) %>
    </li>

  </ul>
</nav>
